body{
    background-color: rgba(255, 0, 0, 30%);
}

ul{
    list-style-type: square;
}

ol{
    list-style-type: upper-roman;
}

.listaUL{
    border-width: 1px 2px 15px 10px;
    width: 150px;
    border-style: solid dashed;
    border-color: red green blue yellow;
    border-radius: 10px 10px 10px 15px;
    margin: 10px;
    padding-left: 10px;
    position: relative;
    top: 110px;
    right: 20px;
}

.listaOL{
    border-width: 5px 10px 2px 1px;
    border-style: dotted double;
    border-color: purple orange pink brown;
    margin-left: 190px;
    padding-left: 350px;
    padding-right: 0px;
    position: relative;
    left: 5px;
    color: white;
}

.p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: blue;
    width: 300px;
    border: black 2px solid;
}

.p2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: blue;
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
    border: 2px solid black;
}

.foto{
    position: fixed;
    top: 0px;
    right: 0px; 
}

.contenedor1{
    width: 500px;
    height: 300px;
    border: 2px solid rgb(255, 0, 0);
    margin-top: 20px;
    position: relative;
}

.caja1{
    border: rgb(0, 4, 255) 2px solid;
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

header{
    position: sticky;
    top: 0px;
    right: 50%;
}

img{
    border-radius: 20%;
    border: 5px solid black;
    width: 200px;
    height: 200px;
}

.fotofecha{
    border: 2px solid black;
    position: relative;
    width: 510px;
    height: 310px;
}

.sitio{
    border: 2px solid rgb(255, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    color: blueviolet;
    background-color: black;
}

.fecha{
    position: absolute;
    border: 2px solid rgb(255, 0, 0);
    bottom: 0px;
    right: 0px;
    color: blueviolet;
    background-color: black;
}

.ejemploindex{
    border: 2px solid black;
    width: 510px;
    height: 500px;
    position: relative;
    background-color: tomato;
}

.ejemploindex1{
    border: 2px solid black;
    height: 260px;
    width: 506px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.ejemploindex2{
    border: 2px solid rgb(0, 255, 34);
    height: 150px;
    width: 250px;
    background-color: greenyellow;
    z-index: 2;
    position: absolute;
    top: 33%;
    left: 25%;
}

.ejemploindex3{
    border: 2px solid rgb(82, 82, 82);
    height: 150px;
    width: 200px;
    background-color: rgb(128, 128, 128);
    z-index: 1;
    position: absolute;
    bottom: 25%;
    right: 15%;
}