.titulo{
    font-size: x-large;
    color: rgb(9, 194, 9);
    background-color: rgba(161, 113, 113, 0.164);
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 0cm;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
    background-color: rgba(255, 235, 205, 0.349);
    padding: 0px;
}

a{
    font-size: x-large;
    color: rgb(197, 9, 87);
}

img{
    width: 250px;
    height: 240px;
}

form{
    background-color: rgba(161, 113, 113, 0.164);
    color: rgb(81, 10, 196);
    padding-top: 0.5px;
    padding-bottom: 10px;
    text-align: justify;
    text-shadow: 2px 0.5px 3px black;
}

label{
    color: black;
    text-align: center;
    
}
